body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    margin-top: 20px;
    text-align: center;
    color: #333;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.video-container {
    width: 70%;
    height: 504PX;
    margin-top: 10px;
}


#videoFeed {
    border-radius: 25px;
    height: 100%;
    width: 100%;
}

.text-container {
    background-color: #fff;
    border-radius: 25px;
    margin-top: 10PX;
    height: 504PX;
    width: 30%;
    margin-left: 30PX;
    

}

#textDisplay {
    font-size: 20px;
    padding-left: 20PX;
    padding-right: 20PX;
    font-weight: bold;
    text-align: start;
    color: #1d2425;
}
